##### Lists and Arrays

In [1]:
val a = List[String]()         // create an empty List

Intitializing Scala interpreter ...

Spark Web UI available at http://instance-1.c.tf-images.internal:4041
SparkContext available as 'sc' (version = 2.4.3, master = local[*], app id = local-1559668217812)
SparkSession available as 'spark'

a: List[String] = List()

In [2]:
val a = List(13.2, 17, 99, 54)     // create a List of Doubles

a: List[Double] = List(13.2, 17.0, 99.0, 54.0)

In [3]:
a(2)        // access by index

res0: Double = 99.0

In [71]:
val b = 1.0 :: 2.0 :: 3.0 :: Nil     // alternative form of creating a List, the "cons" operator ::

b: List[Double] = List(1.0, 2.0, 3.0)

In [32]:
a.length       // Get its length

res13: Int = 4

In [36]:
a.count(x => x.>(20))      // count with filter

res14: Int = 2

In [46]:
a.head        // get the 1st element

res22: Double = 13.2

In [53]:
a.last      // get the last element

res29: Double = 54.0

In [48]:
a.tail     // get all but the 1st element

res24: List[Double] = List(17.0, 99.0, 54.0)

In [50]:
a.isEmpty         // check if empty

res26: Boolean = false

In [52]:
a.nonEmpty   // alternative to check if empty

res28: Boolean = true

In [54]:
a.contains (13.2)     // check if a list contains a value

res30: Boolean = true

In [55]:
a.take(2)     // returns the first N elements

res31: List[Double] = List(13.2, 17.0)

In [57]:
a.max     // also min and sum

res33: Double = 99.0

In [58]:
a.sorted

res34: List[Double] = List(13.2, 17.0, 54.0, 99.0)

In [74]:
val tom = a ::: b     // concatentate 2 Lists

tom: List[Double] = List(13.2, 17.0, 99.0, 54.0, 1.0, 2.0, 3.0)

In [81]:
// iterate over a List
for (i <- tom) {
    println(i)   
}

13.2
17.0
99.0
54.0
1.0
2.0
3.0

In [83]:
// create a List using a function
val squares = List.tabulate(6)(n => n * n)
println( "squares : " + squares  )

squares : List(0, 1, 4, 9, 16, 25)

squares: List[Int] = List(0, 1, 4, 9, 16, 25)

##### Arrays

In [ ]:
val numbers = Array(1, 2, 3, 4)

In [ ]:
val tom = numbers(1)  // get a specific element

In [ ]:
numbers(3) = 100      // change an element

In [ ]:
val biggerNumbers = numbers.map(_ * 2) // multiply all numbers by two

In [ ]:
val arrReversed = numbers.reverse