##### Variables vs Values

In [1]:
// Variables can be changed
var x = 22
x = 3

x = 3
x = 3

3

In [2]:
// ... as long as the Type doesn't change (static typing)
x = "tom"

Name: Compile Error
Message: <console>:28: error: type mismatch;
 found   : String("tom")
 required: Int
       x = "tom"
           ^

StackTrace:

In [3]:
// Values can't be changed
val x = 2
x = 3

Name: Compile Error
Message: <console>:29: error: reassignment to val
       x = 3
         ^

StackTrace:

In [4]:
val y = {
    print("calculating value of y")
    20
}

calculating value of y

y = 20

20

In [7]:
y*3.3

66.0

In [8]:
lazy val x = {
    println("calculating value of y")
    20
}

x = <lazy>

In [9]:
x+x

40

In [5]:
val data = Seq((1,2,3), (4,5,6), (6,7,8))

data: Seq[(Int, Int, Int)] = List((1,2,3), (4,5,6), (6,7,8))

In [6]:
val ds = spark.createDataset(data)

ds: org.apache.spark.sql.Dataset[(Int, Int, Int)] = [_1: int, _2: int ... 1 more field]

In [7]:
ds.show()

+---+---+---+
| _1| _2| _3|
+---+---+---+
|  1|  2|  3|
|  4|  5|  6|
|  6|  7|  8|
+---+---+---+

In [2]:
val x = math.random

x: Double = 0.01758414759522764

In [16]:
val data = Array(1.1,2.1,3.1)
val expon = 2.0

data: Array[Double] = Array(1.1, 2.1, 3.1)
expon: Double = 2.0

In [17]:
math.pow(data, expon)

<console>: 29: error: type mismatch;